
/*Generic editing*/

body {
    background-color: #fff;
    color: #666;
    padding-top: 6em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 2em;
}

a {
    text-decoration: underline;
    color: #f32853;
}

a:hover {
    text-decoration: none;
    color: #83ddf5;
}

strong, b {
    color: #484848;
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #484848;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

.button {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #323037;
    border-radius: 4px;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3.15em;
    line-height: 3.25em;
    padding: 0 2.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: -2.45em;
}

#header {
    background-color: #fff;
    border-bottom: solid 1px rgba(144, 144, 144, 0.25);
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.05);
    color: #484848;
    cursor: default;
    font-size: 1.25em;
    height: 4.5em;
    left: 0;
    line-height: 4.4em;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 2;
}

#header h1 {
    color: #ffffff;
    font-weight: 400;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 1.25em;
    top: 0;
    vertical-align: middle;
}

#header nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav ul li {
    border-radius: 4px;
    display: inline-block;
    margin-left: 2.5em;
    padding-left: 0;
}

#header nav ul li a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #666;
    display: inline-block;
    text-decoration: none;
}

#header nav ul li a:hover {
    color: #2b2a48;
}

#header nav ul li .button {
    border-color: rgba(140, 144, 17, 0.79);
    box-shadow: none;
    height: 3em;
    line-height: 2.9em;
    margin-bottom: 0;
    padding: 0 1.5em;
    position: relative;
    top: -0.075em;
    vertical-align: middle;
}

#banner {
    padding: 13em 0 10em 0;
    background-attachment: fixed;
    background-image: url("images/fishBackground.jpg");
    background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    line-height: 1.75;
    text-align: center;
}

#banner h2 {
     color: #ffffff;
     display: inline-block;
     font-size: 3.5em;
     line-height: 1.35;
     margin-bottom: 0.5em;
 }

#banner p {
    color: #c7c7c7;
    font-size: 1.5em;
    margin-bottom: 1.75em;
    text-transform: uppercase;
}

#banner img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
}

@media only screen and (min-width: 1300px) {
    #info {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        min-height: 350px;
    }
}

@media only screen and (max-width: 1300px) {
    #info {
        width: 100%;
        min-height: 350px;
    }
}

#info .container {
    display: grid;
    height: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding: 1em 0 1em 0;
}

#info .col-md {
    height: 100%;
    width: 60%;
}

#info h2 {
    text-align: center;
}

#info .col-md p {
    height: 140px;
    text-align: center;
}

#info .col-md ul li {
    cursor: default;
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#bannerGeneric {
    padding: 13em 0 10em 0;
    background-attachment: fixed;
    background-image: url("images/fishBackground.jpg");
    background-position: left center;
    background-size: cover;
    line-height: 1.75;
    text-align: center;
}

#bannerGeneric h2 {
    color: #ffffff;
    display: inline-block;
    font-size: 3.5em;
    line-height: 1.35;
    margin-bottom: 0.5em;
}

#bannerGeneric p {
    color: #c7c7c7;
    font-size: 1.5em;
    margin-bottom: 1.75em;
    text-transform: uppercase;
}

#bannerGeneric img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
}

#footer {
    background-color: #303844;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 3em;
}

#aboutPage {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#aboutPage #aboutContent .sectionAbout {
    display: flex;
    justify-content: space-between;
    height: auto;
}

@media only screen and (min-width: 1490px) {
    #aboutPage #aboutContent .sectionAbout {
        margin-bottom: 50px;
    }
}

#aboutPage #topText {
    margin-right: 1em;
    width: auto;
}

#aboutPage #bottomText {
    margin-left: 1em;
    width: auto;
}

#aboutPage .sectionAbout h2 {
    color: #63c6ac;
}

#aboutPage img {
    border-radius: 4px;
    width: 600px;
    height: 400px;
    object-fit: scale-down;
}

.tinyBar {
    background-color: #63c6ac;
    height: 2px;
    width: 100px;
    margin-top: 0.4em;
    margin-bottom: 0.5em;
}

#seafoodPage img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#seafoodPage .foodTableTop {
    color: #83ddf5;
    background-color: #395b73;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

#seafoodPage .foodTable {
    border-radius: 10px;
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 1600px;
}

#seafoodPage table {
    width: 100%;
}

#seafoodPage td, th {
    padding: 10px;
}

#seafoodPage td {
    text-align: center;
    vertical-align: middle;
}

#seafoodPage td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
    width: 40%;
}

#seafoodPage th {
    font-weight: 300;
}

#seafoodPage tr:nth-child(2n) {
    background-color: #d4e1f2;
}

#seafoodPage tr:nth-child(2n+1) {
    background-color: #90c5d5;
}

#seafoodPage a {
    text-decoration: none;
}

#seafoodPage a:hover {
    color: #ba1930;
}

#actionPage {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#actionPage #actionsHeader {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#actionPage #actionsHeader p {
    font-size: 12pt;
}

#actionsTable table {
    width: 100%;
    text-align: center;
    border-spacing: 10px;
    margin-bottom: 10px;
}

#actionsTable td {
    width: 100px;
    height: 120px;
    position: relative;
}

#actionsTable tr:nth-child(1) td:nth-child(1) .coverBox {
    background-color: #34495e;
}

#actionsTable tr:nth-child(1) td:nth-child(2) .coverBox {
    background-color: #35a046;
}

#actionsTable tr:nth-child(1) td:nth-child(3) {
    background-color: #c2771c;
}

#actionsTable tr:nth-child(2) td:nth-child(1) {
    background-color: #2980b9;
}

#actionsTable tr:nth-child(2) td:nth-child(2) {
    background-color: #e74c3c;
}

#actionsTable tr:nth-child(2) td:nth-child(3) {
    background-color: #8e44ad;
}

#actionsTable tr:nth-child(1) td:nth-child(3) .tableIdeaBottom {
    height: 20px;
    background-color: #af651b;
}

#actionsTable tr:nth-child(2) td:nth-child(1) .tableIdeaBottom {
    height: 20px;
    background-color: #2573a6;
}

#actionsTable tr:nth-child(2) td:nth-child(2) .tableIdeaBottom {
    height: 20px;
    background-color: #cf4436;
}

#actionsTable tr:nth-child(2) td:nth-child(3) .tableIdeaBottom {
    height: 20px;
    background-color: #803d9b;
}

.coverBox {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
}

.tableIdea h3{
    color: white;
    width: 100%;
    height: 100%;
    transform: translate(0, 45px);
}

.tableIdeaBottom {
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 1px;
    margin: auto;
    padding-top: 3px;
}

.tableIdeaBottom h4 {
    color: white;
}

.message {
    background:#181818;
    color:#FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    z-index: -1;
}

.toggle:checked ~ .message {
    top: 120px;
}

#shoppingBlock {
    height: 140px;
    transition: height 0.3s ease-out;
}

#toggleS:checked ~ #shoppingBlock {
    height: 240px;
}

#toggleS:checked ~ label {
    top: 220px;
}

#eatingBlock {
    height: 140px;
    transition: height 0.3s ease-out;
}

#toggleE:checked ~ #eatingBlock {
    height: 240px;
}

#toggleE:checked ~ label {
    top: 220px;
}

.toggle {
    position: absolute;
    appearance: none;
    cursor: pointer;
    left: -1000%;
    top: -1000%;
}

.toggle + label {
    position: absolute;
    cursor: pointer;
    width: 100%;
    left: 0;
    top: 120px;
    color: #FFF;
    font-weight: 700;
    line-height: 1em;
    padding: 3px 0 3px 0;
    text-transform: uppercase;
    transition: all 300ms ease;
}
.toggle + label:after {
    content:"More Info"
}

.container {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    padding: 0;
}

#damagesPage h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 3%;
    padding-left: 10px;
}

#damagesPage {
    width: 100%;
}

#damagesPage * {
    box-sizing: border-box;
}

.damagesColumn {
    float: left;
    width: 30%;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
@media screen and (min-width: 858px) {
    .damagesColumn:last-child {
        margin-right: 0;
    }

    .damagesColumn:first-child {
        margin-left: 3%;
    }
}

.damagesRow:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 857px) {
    .damagesColumn {
        width: 100%;
        margin-bottom: 1em;
    }
    .damagesRow {
        margin-right: 1%;
        margin-left: -1%;
    }

    #damagesPage h1 {
        margin-left: 0;
    }
}

.damagesColumn img {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

.damagesColumn h2 {
    color: #63C6AC;
}